<div id="blog-container" class="blopost-cont">
    <div class="blog-cont">
    <h2>{{blog_title}}</h2>
    <p class="author">{{user.first_name}} {{user.last_name}}</p>
    <p class="content">{{blog_content}}</p>
    </div>
    <p class="date">{{format_date date_created}}</p>
</div>
<div id="comment-section">
    <div class="comment-form">
        <form>
            <div class="my-comment">
                <label for="comments">Your Comment</label>
                <textarea class="form-input" id="comments" name="comments"></textarea>
            </div>
            <div>
                <button type="submit" class="submit-comment">Post Comment</button>
            </div>
        </form>
    </div>
    <div class="comments-posted">
        <p class="comment">Test Comment</p>
        <p class="comment">Test Comment</p>
        <p class="comment">Test Comment</p>
    </div>
</div>
